<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet", href="../css/style.css")
body
  h1 Hello World!
  h2 Hello Pimi!
  img(src="./img/bg1.png", alt="")
  
